/* Animations */
.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateY(16px);
}

.list-enter-to,
.list-leave-from {
    opacity: 1;
    transform: translateY(0%);   
}

.list-enter-active,
.list-leave-active{
    transition: all .4s linear;
    position: absolute;
}

.list-move {
    position: absolute;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}